################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/bletl/v15
**/__pycache__
**/.ipynb_checkpoints
/bletl/Sandbox.ipynb
