################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/.idea
**/__pycache__
**/.ipynb_checkpoints
**/.vscode
*.egg-info
*.pyperf
/examples/Sandbox.ipynb
/~$*.xlsx
/bletl/build/lib/bletl
/bletl/dist
